@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model IEnumerable<RecipeBox.Models.Recipe>

<h3>@User.Identity.Name's Recipes</h3>

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Title}", "Details", new { id = recipe.RecipeId})</li>
    }
  </ul>
}
else
{
  <p>You have no recipes yet.</p>
}

<p class="btn btn-dark">@Html.ActionLink("Add a Recipe", "Create", null, null, new { @class="ButtonText"})</p>