<div id="Header">
  <h3>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "HeaderText" })</h3>
  <h3>@Html.ActionLink("Recipes", "Index", "Recipes", null, new { @class = "HeaderText" })</h3>
  <h3>@Html.ActionLink("Tags", "Index", "Tags", null, new { @class = "HeaderText" })</h3>
</div>