@{
  Layout = "_Layout";
}

<div class="circle"></div>
<h1><span>Welcome<span><br/>
<span>to</span><br/>
<span>Your</span><br/>
<span>Recipe</span><br/> 
<span>Box!</span></h1>

<br/>
<br/>
<p class="btn btn-lg btn-light">@Html.ActionLink("Create An Account", "Index", "Account", null, new { @class = "ButtonText" })</p>
<p class="btn btn-lg btn-light">@Html.ActionLink("See All Recipes", "Index", "Recipes", null, new { @class = "ButtonText" })</p>
<p class="btn btn-lg btn-light">@Html.ActionLink("See All Tags", "Index", "Tags", null, new { @class = "ButtonText" })</p>