@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h3>Add a Tag</h3>
<hr>

@using (Html.BeginForm())
{
  <div class = "form-group">
    <h5>@Html.Label("Enter a Tag")</h5>
    @Html.TextBoxFor(model => model.TagName, new { @class = "form-control", @required = "required" })
  </div>
  <input type="submit" value="Add New Tag" class="btn btn-light ButtonText"/>
}

<br>
