@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h3>All Tags</h3>
<div class=tags>

@if (Model.Count == 0)
{
  <h3>You have no tags yet.</h3>
}

@foreach(Tag tag in Model)
{
  @if(!tag.TagName.Contains("#"))
  {
    <h3>#@Html.ActionLink($"{tag.TagName}", "Details", new { id = tag.TagId })</h3>
  }
  else
  {
    <h3>@Html.ActionLink($"{tag.TagName}", "Details", new { id = tag.TagId })</h3>
  }
}
</div>


<p class="btn btn-light">@Html.ActionLink("Create a Tag", "Create", null, null, new { @class = "ButtonText"})</p>