@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-dark" value="Log out" />
    }
}
else
{
    <p class="btn btn-dark">@Html.ActionLink("Register", "Register")</p>
    <p class="btn btn-dark">@Html.ActionLink("Log in", "Login")</p>
}
<br>
<p class="btn btn-dark">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "ButtonText" })</p>